.comment {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  border: 0.1rem solid black;
  border-radius: 0.2rem;
  padding-inline-start: 0.5rem;
  margin-block-start: 0.25rem;

  &-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-replies {
      color: blue;
      font-size: 0.75rem;

      span {
        margin-inline: 0.25rem;
        cursor: pointer;
      }
    }
  }

  &-reply {
    margin-block: 0.5rem;
    width: 100%;

    &__input {
      width: 75%;
    }

    &__submit {
      cursor: pointer;
    }
  }
}
