menu {
  display: flex;
  flex-direction: column;
  // width: 100%;
  height: 800px;

  * {
    width: 100%;
  }

  button {
    width: 80px;
  }
}

.horizontal {
  width: 100%;
}

.vertical {
  height: 500px;
}

.mid-size {
  display: flex;
  justify-content: space-between;

  .block {
    position: absolute;
    top: 0;
    width: 80px;
    height: 80px;
    background-color: red;
  }
}
